footer{
		bottom: 0;
		width: 100%;
	}

	.footer {
		margin: auto;
		width: 100%;
		text-align: center;
		color:white;
		font-size: 200%;
		text-decoration: underline;
		background:rgb(85,87,89);
		padding:10px;
	}
	
	powered{
		bottom: 0;
		width: 100%;
	}

	.powered {
		margin: auto;
		width: 100%;
		text-align: left;
		color:#000000;
		font-size: 200%;
		background:#F36E21;
		/*padding:10px;*/
	}